#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Firewall configuration
firewall --disabled
# Install OS instead of upgrade
install
# Use network installation
url --url=$tree
# Root password
rootpw --iscrypted $default_password_crypted
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use text mode install
text
firstboot --disable
# System keyboard
keyboard us
# System language
lang en_US
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx
# Installation logging level
logging --level=info
# Reboot after installation
reboot
# System timezone
timezone  Asia/Shanghai
# Network information
network  --bootproto=dhcp --device=eth0 --onboot=on
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel 
# Disk partitioning information
part /boot --fstype="ext4" --ondisk=sda --size=300
part / --fstype="ext4" --ondisk=sda --size=10240
part /usr --fstype="ext4" --grow --ondisk=sda --size=1
part swap --fstype="swap" --ondisk=sda --size=1024

%post
#!/bin/bash
[ -d /root/.ssh ] || mkdir /root/.ssh
cat >> /root/.ssh/authorized_keys << EOF
ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA0JO+fs+MtFZYnTTQR7t43ApwzU2H6YPTdTdjfNCUTqmHrO0gAbRe7c+DuesntZb31pmW2wHuB8KyU3i1IFYKDB7ccyvqpfOjfWFKKW34/qpdLWoJ0NlnlgFkmySVX+YsPX0FbxY3yEFNiLXSI95h6U12h0TUPkUxrvZuZZgWIqxNQhu3rOr0nT8jhxfyOnfXxM2+xNVoVAqq+C0zJfYsY0C41IjMFCavSMeKA/OBmgsU4Vg3OQoMx7hDXPB01sRWrDvUp6fea8knnY3QG0imI0K5/T7bRevY7s+Gq11twam9+WPzjXIoKnqMSX785WhqMxEPns8mkxCNrbmIsdTqyQ==
EOF
chmod -R 600 /root/.ssh

mkdir /etc/yum.repos.d/repo.bak
mv /etc/yum.repos.d/*.repo /etc/yum.repos.d/repo.bak
cat > /etc/yum.repos.d/local.repo << EOF
[base]
name=innet.base
baseurl=http://172.18.0.1/centos/6/
gpgcheck=0

[epel]
name=innet.epel
baseurl=http://172.18.0.1/fedora-epel/6/x86_64/
gpgcheck=0
EOF

ClientName=`ifconfig eth0 | awk '/inet addr:/{print $2}' | awk -F. '{print $NF}'`
sed -i "s@HOSTNAME=.*@HOSTNAME=client$ClientName.zxs.com@g" /etc/sysconfig/network

cat > /etc/sysconfig/network-scripts/ifcfg-eth1 <<EOF
DEVICE=eth1
BOOTPROTO=static
IPADDR=172.18.5.$ClientName
PREFIX=16
GATEWAY=172.18.0.1
DNS1=172.18.0.1
EOF

cat > /etc/sysconfig/network-scripts/ifcfg-eth0 <<EOF
DEVICE=eth0
BOOTPROTO=static
IPADDR=192.168.5.$ClientName
PREFIX=24
EOF
%end

%packages
@base
@compat-libraries
@debugging
@development
@server-platform-devel
lrzsz
tree

%end
